body{
    text-align: center;
  background-image:linear-gradient(#FBFBFB,#BC50EF,#BCFF00);
  background-position: center;
  background-size: cover;
}
h2{
    padding-top: 10px;
    color: yellow;
    font-weight: bolder;
    font-family:fantasy; 
}
h5{
    color: white;
    font-weight: bolder;
    font-family:monospace;   
}
.header_div{
 border: 3px solid white;
    margin-top: -20;
    height: 95px;
    background-color: rgb(241, 136, 136);
}
#start{
    font-size: medium;
    width: 150px;
    letter-spacing: 3px;
   border: 2px black solid;
}
.result{
    font-size: 20px;
   font-family:monospace;
   color:dodgerblue;
   font-weight: bold;
   background-color: silver;
border: 3px double black;
width:30%;
height: fit-content;
margin-left: 500px;
}